<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SocialCDEforEclipse"
            id="SocialCDEforEclipseField">
      </category>
      <view
            name="SocialCDEforEclipse View"
            icon="icons/sample.gif"
            category="SocialCDEforEclipseField"
            class="socialcdeforeclipse.views.SocialCDEforEclipseView"
            id="SocialCDEforEclipse.SocialCDEforEclipseView">
      </view>
      <view
            allowMultiple="false"
            category="SocialCDEforEclipseField"
            class="socialcdeforeclipse.views.SocialCDE4EclipseBrowser"
            icon="icons/sample.gif"
            id="SocialCDEforEclipse.SocialCDEforEclipseBrowser"
            name="SocialCDEforEclipse Browser"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="socialcdeforeclipse.views.UserPreferences"
            id="SocialCDEforEclipse.PreferencesPage"
            name="SocialCDE Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="SocialCDEforEclipse.SocialCDEforEclipseView"
               minimized="false"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="SocialCDEforEclipse.SocialCDEforEclipseBrowser"
               minimized="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
